.page {
    padding: 40px;
     
  }
  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Helvetica, Arial, sans-serif;
  }
  
  #splash {
    background: #a7a1a1;
    background-repeat: repeat-y;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: splash 3s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
  }
  
  #loader:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -170px;
    width: 3px;
    background: #fff;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    height: 200px;
  }
  
  #loader:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: 8px;
    bottom: -190px;
    width: 3px;
    background: #000;
    background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
    height: 200px;
  }
  
  #splash .anim {
    height: 100%;
    position: absolute;
    left: 50%;
    width: 100px;
    transform: translate(-50%,100%);
    animation: loader 4s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  
  @keyframes loader {
    0% {
      transform: translate(-50%,110%);
    }
    30% {
      transform: translate(-50%,50%);
    }
    100% {
      transform: translate(-50%,0%);
    }
  }
  
  @keyframes splash {
    0% {
      transform: translate(0%,0%);
    }
    50% {
      transform: translate(0%,0%);
    }
    100% {
      transform: translate(0%,-100%);
    }
  }

  p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Change the color as desired */
    margin: 10px 0;
}

/* Pinterest-style grid layout */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* Optional: add rounded corners to images */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a shadow effect */
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.login-icon {
 margin: 50px;
 
}
.login-icon :hover{
  cursor: pointer;
}